<h1 class="especial_h1">CoronaCounter</h1>
<br>
<div class="titles">
    <h1>Welcome to home page!</h1>
    <h3>Hospital: {{hospital.name}}</h3>
</div>
<br>
{{#if success_msg}}
    <div class="success-msg">
        {{success_msg}}
    </div>
{{else}}

{{/if}}
{{#if error_msg}}
    <div class="error-msg">
        {{error_msg}}
    </div>
{{else}}

{{/if}}
<div class="buttons">
    <p class="describe">Which the state of person?</p>
    <hr>
    <a href="hospital/positive"><button>Positive Case</button></a><br>
    <a href="hospital/negative"><button>Negative Case</button></a><br>
    <a href="hospital/inconclusive"><button>Inconclusive Case</button></a><br>
</div>